/*
Theme Name: sb like
Theme URI: http://serennz.sakura.ne.jp/sb/
Description: This theme handles sb like template, and includes default base template
Version: 0.00
Author: takkyun
Author URI: http://serennz.sakura.ne.jp/sb/
*/

/* reset elements */
h1, h2, h3, h4, h5, h6 {
position: static;
margin: 0px;
padding: 0px;
}
div, p, hr, blockquote, address, noscript {
position: static;
margin: 0px;
padding: 0px;
font-style: normal;
font-weight: normal;
}
ul, ol, dl, dt, dd {
position: static;
margin: 0px;
padding: 0px;
}
pre, table, form {
position: static;
margin: 0px;
padding: 0px;
}
span, img  {
position: static;
margin: 0px;
padding: 0px;
border: none;
font-style: normal;
font-weight: normal;
border: 0px none #fafaff;
}
em, strong, q, dfn, code, samp, kbd, var, cite, abbr, acronym {
position: static;
margin: 0px;
padding: 0px;
border: none;
font-style: normal;
font-weight: normal;
}
/* basic */
body {
margin: 0px;
padding: 0px;
color: #334;
background-color: #fff;
}
a {
text-decoration: underline;
}
a:link {
color: #66a;
}
a:visited {
color: #655;
}
a:hover {
color: #e50;
}
a:active {
color: #55c;
}
h2,h3,h4 {
margin: 0px;
padding: 2px 10px 2px 10px;
font-family: "Hiragino Kaku Gothic Pro","Osaka",sans-serif;
line-height: 1.1em;
font-weight: bold;
font-size: 110%;
text-align: left;
color: #889;
border-bottom: 1px dotted #bbc;
}
h2 a {
text-decoration: none;
}
h2 a:link {
color: #889;
}
h2 a:visited {
color: #889;
}
h2 a:hover {
color: #e50;
}
h2 a:active {
color: #889;
}
pre {
display: block;
font-family: monospace;
}
em {
font-family: "Hiragino Kaku Gothic Pro","Osaka","Arial",sans-serif;
font-style: normal;
font-weight: normal;
border-bottom: 1px dashed #ccf;
}
strong {
font-family: "Hiragino Kaku Gothic Pro","Osaka","Arial",sans-serif;
font-weight: bold;
}
blockquote {
margin: 0px 20px 0px 20px;
padding: 2px 8px 2px 8px;
color: #77c;
line-height: 1.4em;
border: 1px solid #ddf;
background-color: #fafaff;
}
blockquote p {
padding: 0px;
margin: 0px;
font-style: italic;
}
p.source {
margin: 0px 20px 1em 20px;
padding: 0px;
font-size: 90%;
text-align: right;
}
q {
color: #669;
font-style: italic;
}
cite {
font-style: normal;
}
ul {
padding-left: 2em;
}
ol {
padding-left: 2em;
}
dl dd {
padding-left: 2em;
}
del {
text-decoration: line-through;
}
ins {
border-bottom: 1px dashed #cfc;
}
/* images */
img.pict {
}
/* title */
div.title {
margin: 0px;
padding: 0px;
color: #fff;
background-color: #bbd;
}
div.title h1 {
margin: 0px;
padding: 10px 10px 5px 10px;
font-size: 130%;
font-weight: bold;
font-family: "Verdana","Osaka",sans-serif;
}
div.title h1 a {
text-decoration: none;
}
div.title h1 a:link {
color: #fff;
}
div.title h1 a:visited {
color: #fff;
}
div.title h1 a:hover {
color: #fff;
}
div.title h1 a:active {
color: #fff;
}
div.title p.description {
margin: 0px;
padding: 0px 20px 10px 20px;
color: #ddf;
font-size: 90%;
}
/* footer */
div.footer {
margin: 0px;
padding: 0px;
text-align: center;
font-family: "Verdana",sans-serif;
font-size: 11px;
}
div.footer a {
text-decoration: none;
}
div.footer address {
margin: 0px 20px 3px 0px;
}
div.footer p#link2top {
margin: 0px;
padding: 10px 20px 10px 20px;
font-family: "Verdana",sans-serif;
font-size: 10px;
text-align: right;
}
div.footer p#link2top:before {
content: "[";
}
div.footer p#link2top:after {
content: "]";
}
/* main */
div.contents {
width: 70%;
float: left;
clear: left;
background-color: #fff;
}
div.page {
font-size: 90%;
text-align: center;
}
div.page a {
text-decoration: none;
}
div.body hr {
clear: both;
height: 1px;
margin: 0px auto;
padding: 0px;
color: #fff;
border-style: none;
border-top: 1px solid #fff;
}
/* entry */
div.entry {
margin: 10px 0px 10px 0px;
padding: 0px 10px 0px 10px;
}
div.entry div.entry_author {
margin: 0px;
padding: 2px 10px 2px 10px;
font-size: 90%;
text-align: right;
}
div.entry div.entry_author a {
text-decoration: none;
}
div.entry div.entry_body {
margin: 0px;
padding: 15px 20px 5px 20px;
font-size: 100%;
line-height: 1.4em;
color: #445;
}
div.entry div.entry_more {
margin: 0px;
padding: 5px 20px 15px 20px;
font-size: 100%;
line-height: 1.4em;
color: #445;
}
div.entry div.entry_state {
margin: 0px;
padding: 2px 10px 2px 10px;
font-size: 90%;
text-align: right;
}
div.entry div.entry_state a {
text-decoration: none;
}
div.entry div.entry_navi {
margin: 0px;
padding: 0px 10px 10px 10px;
font-size: 90%;
text-align: center;
}
div.entry div.entry_navi a {
text-decoration: none;
}
/* comment */
div.comment {
margin: 10px 0px 10px 0px;
padding: 0px 10px 0px 40px;
}
div.comment form {
margin: 10px 0px;
padding: 0px;
}
div.comment form dl {
font-size: 90%;
}
div.comment form dl dt {
display: block;
clear: left;
float: left;
width: 8em;
margin: 0px;
padding: 0px;
font-family: "Verdana",sans-serif;
text-align: right;
}
div.comment form dl dt label#labelsubmit {
display: none;
}
div.comment form dl dd {
margin: 0px 0px 0px 8.5em;
padding: 0px;
}
div.comment dl.body {
margin: 0px;
padding: 5px 5px 10px 5px;
line-height: 1.3em;
font-size: 90%;
}
div.comment dl.body dt {
margin: 0px;
padding: 0px;
color: #889;
text-align: right;
}
/* trackback */
div.trackback {
margin: 10px 0px 10px 0px;
padding: 0px 10px 0px 40px;
}
div.trackback p.link {
text-align: right;
font-size: 90%;
}
div.trackback dl.body {
margin: 0px;
padding: 5px 5px 10px 5px;
line-height: 1.3em;
font-size: 90%;
}
div.trackback dl.body dt {
margin: 0px;
padding: 0px;
color: #889;
text-align: right;
}
/* individual */
div.individual {
margin: 10px 0px 10px 0px;
padding: 0px 10px 0px 10px;
}
div.individual div.individual_body {
margin: 0px;
padding: 15px 20px 5px 20px;
font-size: 100%;
line-height: 1.4em;
color: #445;
}
/* navigation */
div.navigation {
margin-left: 70%;
padding: 0px 15px 0px 15px;
font-size: 90%;
}
/* links */
div.navigation dl {
margin: 15px 0px 15px 0px;
padding: 0px;
}
div.navigation dl dt {
margin: 0px;
padding: 2px 5px 2px 5px;
font-family: "Verdana",sans-serif;
font-weight: bold;
color: #99a;
border-top: 2px solid #bbc;
border-bottom: 2px solid #bbc;
background-color: #fafaff;
}
div.navigation dl dd {
margin: 0px;
padding: 0px;
}
div.navigation dl dd ul {
list-style: none;
margin: 0px;
padding: 0px;
}
div.navigation dl dd ul li {
display: block;
margin: 0px;
padding: 2px 0px 2px 10px;
font-size: 90%;
color: #668;
border-bottom: 1px solid #ccd;
background-color: #fafaff;
}
div.navigation dl dd ul li li {
border-top: 1px dashed #ccd;
border-bottom: 0px none #fafaff;
}
div.navigation dl dd ul li a {
text-decoration: none;
}
div.navigation dl.extra dt {
display: none;
}
div.navigation dl.extra ul {
margin: 0px;
padding: 0px;
list-style: none;
text-align: center;
}
div.navigation dl.extra a {
text-decoration: none;
}
div.navigation dl.extra li {
padding: 3px 0px 3px 0px;
line-height: 1.3em;
font-family: "Verdana",sans-serif;
color: #668;
border-bottom: 1px none #ccd;
background-color: transparent;
}
div.navigation dl.search {
margin: 10px 0px 10px 0px;
padding: 0px;
text-align: center;
}
div.navigation dl.search dt {
font-family: "Verdana",sans-serif;
}
/* calendar */
div.navigation dl.calendar {
background-color: #fafaff;
border-bottom: 1px solid #ccd;
}
div.navigation dl.calendar dd {
margin: 0px;
padding: 0px;
text-align: center;
background-color: #fafaff;
}
div.navigation dl.calendar dd table {
width: 180px;
margin: 0px;
margin-left: auto;
margin-right: auto;
padding: 0px;
border: 0px none;
border-color: #ccc #333 #333 #ccc;
background-color: #fafaff;
}
div.navigation dl.calendar dd table td.cell {
padding: 1px;
font-family: "Verdana",sans-serif;
font-size: 10px;
line-height: 170%;
color: #bbc;
text-align: center;
}
div.navigation dl.calendar dd table td.weekday {
padding: 1px;
font-family: mono-space;
font-size: 10px;
line-height: 170%;
color: #bbc;
text-align: center;
}
div.navigation dl.calendar dd table td.cell a {
margin: -1px;
padding: 1px;
text-decoration: none;
font-weight: bold;
display: block;
}
div.navigation div.calendar table td.cell span.today {
color: #b99;
}
div.navigation div.calendar table td.cell a span.today {
font-weight: bold;
}
div.navigation dl.calendar dd td.calendar_month {
font-family: "Verdana",sans-serif;
font-size: 10px;
text-align: center;
}
div.navigation dl.calendar dd td.calendar_month a {
text-decoration: none;
}
